* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

textarea {
  resize: none;
  height: 140px;
}

ul {
  list-style: none;
}

button,
select {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}
