//colors
$primaryColor: #12903e;
$secondaryColor: #5cb63f;
$whiteColor: #ffffff;
$blackColor: #2b2b2b;

//screen
$sm: 640px;
$md: 768px;
$lg: 1024px;

//fontsSize
$paragraphSize: 18px;
$titleSize: 40px;
