@use "@/scss/vars" as *;

.btn {
  border-radius: 10px;
  background: #5cb63f;
  padding: 19px 32px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 4 / -1;
}
.disabledBtn {
  border-radius: 10px;
  background: #aeb3ad;
  padding: 19px 32px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 4 / -1;
}
.input {
  padding: 13px 70px 13px 32px;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  grid-column: 1 / -1;
}
.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
  padding-bottom: 100px;
  h1 {
    grid-column: 1/-1;
  }
}
