@import "@/scss/_vars.scss";

.footer {
  background: #292929;
}

.content {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  @media (max-width: 485px) {
    flex-direction: column;
    gap: 20px;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
  gap: 30px;
}

.socialLinks {
  display: flex;
  gap: 20px;
}

.socialLink:hover {
  .icon {
    background-color: $secondaryColor;
    border-radius: 50%;
  }
}

.subFooter {
  background: #1f1f1f;
  display: flex;
  justify-content: center;
}

.text {
  color: $whiteColor;
  opacity: 0.5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 0;
}
