.languageMenu {
  position: relative;
}
.languageSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.languageList {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  top: 20px;
  z-index: 99;
}
.language {
  padding: 2px 5px;
  color: black;
  &:hover {
    background-color: #12903e;
  }
}
