 
@use "@/scss/vars" as *;


.languageList {
  display: flex;
  gap: 3px;
  border: 2px solid $primaryColor;
  border-radius: 20px;
  padding: 1px;
  flex: 0 0 auto;
}

.language {
  font-size: 12px;
  min-width: 25px;
  min-height: 25px;
  padding: 3px;
  color: $primaryColor;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &.active {
    background-color: $primaryColor;
    color: white;
  }
  &:hover {
    background-color: $secondaryColor;
    color: white;
    transform: scale(1.05);
  }
}
