.languageMenu {
  position: relative;
}

.languageSelect {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.languageList {
  display: flex;
  gap: 5px;
  border: 2px solid #12903e;
  border-radius: 20px;
  padding: 2px;
}

.language {
  padding: 4px;
  color: black;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &.active {
    background-color: #12903e;
    color: white;
  }
  &:hover {
    background-color: #5cb63f;
    color: white;
    transform: scale(1.05);
  }
}
