@import "@/scss/_vars.scss";

.languageList {
  display: flex;
  gap: 5px;
  border: 2px solid $primaryColor;
  border-radius: 20px;
  padding: 2px;
}

.language {
  font-size: 14px;
  padding: 4px;
  color: $primaryColor;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &.active {
    background-color: $primaryColor;
    color: white;
  }
  &:hover {
    background-color: $secondaryColor;
    color: white;
    transform: scale(1.05);
  }
}
