.hero {
  position: relative;
  .info {
    position: absolute;
    top: 0;
    @media (max-width: 480px) {
      display: none;
    }
  }
  .title {
    padding-top: 147px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    @media (max-width: 768px) {
      padding-top: 10%;
      font-size: 30px;
    }
  }
  .bgBlock {
    position: relative;
    // max-width: 1350px;
    // margin: 0 auto;
    // padding: 0 15px;
    // height: 400px;
  }
  .descr {
    padding-top: 21px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}
