@use "@/scss/vars" as *;

.paragraphBlock {
  font-size: $paragraphSize;
  color: $blackColor;
  span {
    text-align: justify;
    line-height: 30px;
  }
  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: 700;
  }
  .underline {
    text-decoration: underline;
  }
  .superscript {
    font-size: 0.7em;        /* уменьшаем размер */
    vertical-align: super;   /* поднимаем наверх */
  }
  .link {
    color: blue;
    text-decoration: underline;
    display: inline-block;
    word-break: break-all; /* если длинная ссылка — не ломает вёрстку */
  }
}
