 
@use "@/scss/vars" as *;


.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 50px;
  padding: 20px 0;

  @media (max-width: $md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  color: $blackColor;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 43px;
}

.infoBlock {
  display: grid;
  gap: 10px;

  .addressBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 10px;
  }
}
