@import "@/scss/_vars.scss";

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-bottom: 90px;

  @media (max-width: $md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project {
  position: relative;
  border-radius: 1.8rem;
  overflow: hidden;

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 20px 20px;
    display: grid;
    gap: 5px;
    background-color: rgba(67, 68, 66, 0.466);
    // backdrop-filter: blur(50px);

    // Скрытие и начальная позиция
    opacity: 1;
    transform: translateY(70%);
    transition: all 0.5s ease;

    .projectTitle {
      color: #fff;
      font-size: clamp(1rem, 2.5vw, 1.2rem);
      font-weight: 700;
    }

    p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }

    .link {
      border: 1px solid $secondaryColor;
      height: 40px;
      color: #fff;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  // Показываем .info при наведении на .project
  &:hover .info {
    opacity: 1;
    transform: translateY(0);
  }
}

.coverWrapper {
  overflow: hidden;
  position: relative;
  border-radius: 1.8rem;
  display: flex;

  .cover {
    background-color: $secondaryColor;
    position: absolute;
    top: 3%;
    right: 2%;
    object-fit: cover;
    z-index: 2;
    padding: 5px;
    color: white;
    border-radius: 1.8rem;
  }
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1);
  transition: transform 2s ease-in-out;

  // При наведении на родителя .project, увеличиваем масштаб
  .project:hover & {
    transform: scale(1.2);
  }
}
