.content {
  display: grid;
  gap: 20px;
  p {
    text-align: justify;
    line-height: 30px;
  }
  .imgBlock {
    display: flex;
    justify-content: center;
  }
  padding-bottom: 60px;

  .img {
    width: 80%;
    height: auto;
  }
  .link {
    color: blue;
  }
}
