.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 100px;
  row-gap: 40px;
  align-items: stretch;
  padding-bottom: 90px;
}
.img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.descr {
  color: #2b2b2b;
  font-size: 16px;
  line-height: 30px; /* 187.5% */
  font-weight: 400;
  text-align: justify;
}
