 
@use "@/scss/vars" as *;


.linksBlock {
  padding-bottom: 20px;
}

.linkBlockTitle {
  padding-bottom: 20px;
}
.linksList {
  display: grid;
  gap: 10px;
  .linkItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .linkTitle {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-align: justify;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease;

    &:hover {
      background: rgba(128, 128, 128, 0.5);
      transition: all 0.2s ease;
    }
  }
}

.badge {
  color: $primaryColor;
}
