.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 90px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.link {
  display: flex;
  flex-direction: column;
  height: 650px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);

  .imgBlock {
    width: 100%;
    & img {
      display: flex;
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
  }
  .titleBlock {
    padding: 24px 30px 32px;
    text-align: justify;
    .date {
      color: #12903e;
      font-size: 14px;
      font-weight: 700;
      padding-bottom: 2px;
    }
    h3 {
      color: #2b2b2b;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px; /* 150% */
      padding-bottom: 11px;
    }
    p {
      color: #2b2b2b;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
}
