.content {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 50px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.imgBlock {
  grid-column: span 2;
  @media (max-width: 1024px) {
    grid-column: span 1;
  }
  .img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}
.info {
  display: grid;
  gap: 10px;
  align-items: stretch;
}

.line {
  width: 102px;
  height: 4px;
  border-radius: 4px;
  background: #12903e;
}

.link {
  border: 1px solid #12903e;
  height: 50px;
  color: #12903e;
  &:hover {
    background-color: #12903e;
    color: #fff;
  }
}
