@use "sass:color";
@use "@/scss/vars" as *;



.content {
  padding: 5em 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: default;

  @media (max-width: $lg) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.info {
  display: grid;
  flex-basis: 30%;
  gap: 10px;

  @media (max-width: $md) {
    justify-items: center;
  }
  .title {
    font-size: 2rem;
  }

  .line {
    width: 102px;
    height: 4px;
    border-radius: 4px;
    background: $primaryColor;
  }
}

.events {
  display: grid;
  flex-basis: 60%;

  .event {
    width: 50px;
    height: 50px;
    background: linear-gradient(
      145deg,
      color.adjust($primaryColor, $lightness: 10%),
      $primaryColor
    ); /* Градиент для выпуклости */
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      /* Тень снизу и справа */ -5px -5px 10px rgba(255, 255, 255, 0.5); /* Светлая тень сверху и слева */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы */
    &:hover {
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
        /* Уменьшенная тень при наведении */ -3px -3px 8px
          rgba(255, 255, 255, 0.5); /* Уменьшенная светлая тень */
      transform: rotate(45deg) scale(0.98); /* Легкое сжатие при наведении */
    }
    .eventTitle {
      transform: rotate(-45deg);
      color: $whiteColor;
      font-weight: bold; /* Жирный текст для лучшей читаемости */
    }
  }

  .eventInfo {
    display: flex;
    padding-left: 24px;
    gap: 20px;

    .divide {
      width: 4px;
      // height: auto;
      background: $primaryColor;
    }

    .eventText {
      display: grid;
      gap: 10px;
      padding: 10px 0;

      p {
        position: relative;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background: $primaryColor;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: -21px;
          transform: translate(-50%, -50%);
        }
        &:hover {
          background: rgba(128, 128, 128, 0.5);

          &::before {
            width: 15px;
            height: 15px;
            transition: all 0.3s ease;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
