@use "@/scss/vars" as *;

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 100px;
  @media (max-width: $md) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.ceo {
  border-radius: 10px;
  display: grid;
  gap: 20px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.ceoName {
  color: $blackColor;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px; /* 106.667% */
  padding-bottom: 10px;
}
.description {
  color: $blackColor;
  font-size: $paragraphSize;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.title {
  color: $blackColor;
  font-size: $paragraphSize;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}
