.content {
  display: grid;
  gap: 20px;
  p {
    text-indent: 20px;
    text-align: justify;
    line-height: 30px;
  }
  .imgBlock {
    display: flex;
    justify-content: center;
  }
  padding-bottom: 60px;
}
.subTitle {
  text-align: center;
  padding-bottom: 10px;
}
