.imgBlock {
  overflow: hidden;
  position: relative;
  padding-bottom: calc(var(--height) / var(--width) * 100%);

  .clickableImage {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer; // Change cursor to pointer on hover
  }
}
.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); // Затемненный фон
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.fullscreenContent {
  position: relative;
  width: 90%;
  height: 90%;
}
