.header {
  position: relative;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.logo {
  @media (max-width: 1068px) {
    width: 80%;
    height: auto;
  }
  @media (max-width: 768px) {
    width: 70%;
    height: auto;
  }
}

.menuBlock {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1068px) {
    flex-basis: 70%;
  }
  @media (max-width: 970px) {
    display: none;
  }
}

.actions {
  display: flex;
  gap: 10%;
  align-items: center;
}
