.header {
  position: relative;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 20px 0;
  position: relative;
}
.logo {
  flex: 0 0 auto;
  max-width: 180px;
  height: auto;
}
.menuBlock {
  flex: 1;
  display: flex;
  justify-content: space-between;
  @media (max-width: 870px) {
    display: none;
  }
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  .languageBtn {
    @media (max-width: 870px) {
      display: none;
    }
  }
}
