 
@use "@/scss/vars" as *;


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px 0;
  transition: all 0.3s linear;

  &.scrolled {
    backdrop-filter: blur(50px);
    padding: 5px;
    transition: all 0.3s linear;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  position: relative;

  @media (max-width: $lg) {
    gap: 3%;
  }
}

.logoBlock {
  flex-basis: 15%;
}

.logo {
  flex: 0 0 auto;
  max-width: 150px;
  height: auto;
  transition: all 0.3s linear;

  &.miniLogo {
    max-width: 100px;
    transition: all 0.3s linear;
  }
}

.menuBlock {
  flex: 1;
  display: flex;
  justify-content: space-between;

  @media (max-width: $md) {
    display: none;
  }
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;

  .languages {
    @media (max-width: $md) {
      display: none;
    }
  }
}
