.burgerBtn {
  display: none;
  @media (max-width: 970px) {
    display: flex;
    cursor: pointer;
  }
}
.burgerMenu {
  position: absolute;
  display: grid;
  align-content: start;
  top: 0;
  left: 0;
  width: 90%;
  height: 1200px;
  background: #fff;
  z-index: 1;

  .burgerLink {
    padding: 10px 0;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;

    .descr {
      padding-left: 40px;
    }
    &:hover {
      color: #12903e;
    }
  }
  .active {
    margin-left: 20px;
  }
}
