 
@use "@/scss/vars" as *;


.burgerBtn {
  display: none;
  @media (max-width: $md) {
    display: flex;
    cursor: pointer;
  }
}

.burgerMenu {
  position: fixed;
  display: grid;
  align-content: start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $whiteColor;
  z-index: 1;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.open {
    opacity: 1;
    transform: translateX(0);
  }

  .burgerMenuHeader {
    background-color: #f4f4f4;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burgerLogo {
      max-width: 180px;
      height: 75px;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 5px;

      .closeBtn {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
    }
  }

  .burgerLink {
    padding: 10px 0 0 40px;
    color: $blackColor;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
    transition: color 0.3s ease;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    // Цикл для генерации transition-delay для каждого элемента
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transition-delay: #{($i * 0.03)}s;
      }
    }

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }

    &:hover {
      color: $primaryColor;
    }

    .description {
      color: $blackColor;
    }

    .active {
      margin-left: 20px;
      color: $primaryColor;
      font-weight: 700;
    }
    .subMenu {
      display: grid;
      gap: 20px;
    }
  }
}

.menuItem {
  padding: 10px 0;
}
