.hero {
  position: relative;
  .info {
    position: absolute;
    top: 0;
  }
  .title {
    padding-top: 277px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
  }
  .bg {
    width: 100%;
  }
  .descr {
    padding-top: 21px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}
