@use "@/scss/vars" as *;

.main {
  background: #f4f4f4;
}
.block {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding-top: 100px;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
