.map {
  width: 100%;
  height: 500px;
  min-height: 300px;

  @media (max-width: 1024px) {
    height: 420px;
  }

  @media (max-width: 768px) {
    height: 360px;
  }

  @media (max-width: 480px) {
    height: 300px;
  }
}