@use "@/scss/vars" as *;

.link {
  color: #12903e;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 7px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 45px;
  flex-wrap: wrap;
}
