.dropdown {
  position: relative;
  display: inline-block;
}
.dropBtn {
  color: #2b2b2b;
  padding-bottom: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  .active {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: #12903e;
      transition: width 0.3s ease, left 0.3s ease;
    }

    &:hover {
      color: black;

      &::before {
        width: 100%;
        left: 0;
      }
    }
  }
}

.dropdownContent {
  display: block;
  position: absolute;
  top: 30px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;

  .subLink {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}
