 
@use "@/scss/vars" as *;


.dropdown {
  position: relative;
  display: inline-block;
}

.dropBtn {
  color: $whiteColor;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  background: $primaryColor;
  border-radius: 10px;

  .active {
    position: relative;
    display: inline-flex;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s ease;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.dropdownContent {
  display: block;
  position: absolute;
  top: 28px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  z-index: 1;

  .subLink {
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    font-size: 14px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $primaryColor;
      color: #f9f9f9;
      transition: all 0.2s ease;
    }
  }
}
