.main {
  background: #c4c2c24b;
}
.title {
  padding: 100px 0 45px 0;
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    text-align: center;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
}
.advBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 100px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.adv {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 24px;
  display: grid;
  justify-items: center;
  gap: 22px;
}
.description {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-align: center;
}
