@import "@/scss/_vars.scss";

.title {
  padding: 100px 0 45px 0;
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $md) {
    text-align: center;
  }
  @media (max-width: $sm) {
    font-size: 30px;
  }
}

.advBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 100px;

  @media (max-width: $lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.adv {
  border-radius: 10px;
  // background: #fff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 24px;
  display: grid;
  gap: 20px;
  align-content: space-between;
  justify-items: center;
  cursor: pointer;

  .advTitle {
    font-size: 1.5rem;
    text-align: center;
  }
  .box {
    display: flex;
    color: $primaryColor;
    font-weight: bold;
    .numb {
      font-size: 48px;
    }
    .unit {
      margin-top: 10px;
      font-size: 24px;
      display: flex;
      align-items: center;
    }
  }
}
