.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.logoIcon {
  width: 200px;
  height: 82px;
  @media (max-width: 768px) {
    width: 180px;
    height: 74px;
  }
  @media (max-width: 425px) {
    width: 140px;
    height: 58px;
  }
}
.link {
  position: relative;
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    color: #12903e;
  }
  &:hover::before {
    position: absolute;
    content: " ";
    background: #12903e;
    top: 20px;
    width: 100%;
    height: 2px;
  }
}
.menuBlock {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    display: none;
  }
}
.language {
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    display: none;
  }
}
.bntsBlock {
  display: flex;
  gap: 45px;
  align-items: center;
  @media (max-width: 425px) {
    gap: 10px;
  }
}
.burgerBtn {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}
.burgerMenu {
  position: absolute;
  display: grid;
  align-content: start;
  top: 0;
  left: 0;
  width: 90%;
  height: 1200px;
  background: #fff;
  z-index: 1;
  .burgerLink {
    padding: 10px 0;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
    .descr {
      padding-left: 40px;
    }
    &:hover {
      color: #12903e;
    }
  }
  .burgerLanguage {
    padding: 23px 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-end;
  }
}
