.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logoIcon {
  width: 200px;
  height: 82px;
  @media (max-width: 768px) {
    width: 180px;
    height: 74px;
  }
  @media (max-width: 425px) {
    width: 140px;
    height: 58px;
  }
}
.link {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    color: #12903e;
  }
}
.menuBlock {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    display: none;
  }
}
.language {
  display: flex;
  align-items: center;
  @media (max-width: 1024px) {
    display: none;
  }
}
.bntsBlock {
  display: flex;
  gap: 45px;
  align-items: center;
  @media (max-width: 425px) {
    gap: 10px;
  }
}
.burgerBtn {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}
