.content {
  display: grid;
  justify-content: space-between;
  padding-bottom: 71px;
  flex-wrap: wrap;
  gap: 80px 20px;
}
.title {
  color: #2b2b2b;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px; /* 100% */
  padding-bottom: 13px;
}
.descr {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}
.info {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.departments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 210px;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 110px;
  }
  @media (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

.map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .companyInfo {
    padding: 50px;
    @media (max-width: 768px) {
      padding: 25px;
    }
  }
  .frameBlock {
    @media (max-width: 1024px) {
      height: 400px;
    }
    .frame {
      width: 100%;
      height: 100%;
    }
  }
}

.main {
  background: #f4f4f4;
  .block {
    padding-top: 40px;
  }
}
