* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
}

img,
svg,
video,
canvas,
iframe {
  max-width: 100%;
}

img,
svg,
video,
canvas {
  height: auto;
}

main,
section,
article,
aside,
header,
footer,
nav,
div {
  min-width: 0;
}

textarea {
  resize: none;
  height: 140px;
}

ul {
  list-style: none;
}

button,
select {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}
