@use "./vars" as *;
@use "./resets" as *;

@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding-top: 118px;
}

.title {
  color: $blackColor;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  border-radius: 30px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
  }
}

.description {
  color: $blackColor;
  font-size: $paragraphSize;
  line-height: 30px; /* 187.5% */
  font-weight: 400;
  text-align: justify;
}
