@use "@/scss/vars" as *;

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-bottom: 100px;
  @media (max-width: 1130px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.titleB {
  text-align: center;
  grid-column: 1/-1;
  font-size: 32px;
}
.branch {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}
.regionName {
  color: #2b2b2b;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px; /* 106.667% */
  padding-bottom: 23px;
  grid-column: span 2;
}
.block {
  display: grid;
  gap: 10px;
  padding-bottom: 25px;
}
.description {
  color: #2b2b2b;
  width: 190px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.title {
  color: #2b2b2b;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}
